NodeRed.txt
[{"id":"d0b5a4273c108f01","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"107ed79ce4eae7fb","type":"mqtt in","z":"d0b5a4273c108f01","name":"localhost","topic":"#","qos":"0","datatype":"auto","broker":"58c76d6eb10dc64a","nl":false,"rap":true,"rh":0,"inputs":0,"x":60,"y":40,"wires":[["ee3fd1b0ce1f89aa","5a9a88f8eee09994"]]},{"id":"4c23de06831d83bf","type":"debug","z":"d0b5a4273c108f01","name":"base64 msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":40,"wires":[]},{"id":"f271db19c98b0901","type":"exec","z":"d0b5a4273c108f01","command":"python3 \"/home/pi/Documents/tflite_meter_reading_script.py\" msg.payload","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"post-process and tflite python script","x":480,"y":120,"wires":[["5919f4663c580c7c"],["de8eb8f8eba4d961"],["de8eb8f8eba4d961"]]},{"id":"5919f4663c580c7c","type":"json","z":"d0b5a4273c108f01","name":"Convert JSON string","property":"payload","action":"","pretty":false,"x":760,"y":60,"wires":[["7ac8d998e2d4c316","9a5e1f32241d28c7"]]},{"id":"35312bc365b89d60","type":"influxdb out","z":"d0b5a4273c108f01","influxdb":"5ee5e7e6fbca8308","name":"Water meter reading","measurement":"water_meter_reading","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":940,"y":180,"wires":[]},{"id":"7ac8d998e2d4c316","type":"debug","z":"d0b5a4273c108f01","name":"JSON string debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":60,"wires":[]},{"id":"de8eb8f8eba4d961","type":"debug","z":"d0b5a4273c108f01","name":"Python script output debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":200,"wires":[]},{"id":"ee3fd1b0ce1f89aa","type":"image","z":"d0b5a4273c108f01","name":"","width":"296","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":140,"y":140,"wires":[]},{"id":"5a9a88f8eee09994","type":"base64","z":"d0b5a4273c108f01","name":"","action":"","property":"payload","x":220,"y":40,"wires":[["4c23de06831d83bf","f271db19c98b0901"]]},{"id":"9a5e1f32241d28c7","type":"change","z":"d0b5a4273c108f01","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.camera.meter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":120,"wires":[["35312bc365b89d60"]]},{"id":"58c76d6eb10dc64a","type":"mqtt-broker","name":"localhost","broker":"192.168.0.187","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5ee5e7e6fbca8308","type":"influxdb","hostname":"192.168.0.187","port":"8090","protocol":"http","database":"grafana","name":"grafana database","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]